.navbar-light {
    display: none;
  }
  
  .navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;
    color: #ffffff;
    font-weight: 1000;
    outline: none;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: #0BCEAF;
  }
  
  .nav-link:hover {
    box-shadow: 1px 2px 9px 2px rgb(255, 255, 255);
    background-color: #0BCEAF;
    transition: 0.5s;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  
  nav {
    margin-top: 0px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .link-1 {
    transition: 0.7s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: -2px;
    padding: 20px 10px;
    margin: 5px px;
  }
  
  .link-1:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
  }
  
  @media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
  
    }
  }
  
  .typed-text {
    position: absolute;
    color: #d8e8e6;
    text-align: left;
  }
  
  .cover {
    background-image: url(svec.jpg);
  }
  
  .about-img {
    margin-left: -0px;
    right: -30px;
  }
  
  .display-1 {
    transform: scale(-40% -40%);
    margin-left: 20px;
    font-size: 160px;
    font-weight: 1000;
  
  }
  
  .display-3 {
    font-size: 60px;
    font-weight: 1000;
  
  }
  
  .vedio {
    border-radius: 6;
  }
  
  .position-absolute {
    font-weight: 700;
  
  }
  
  .typed-cursor {
    font-size: 45px;
    color: #ffffff;
  }
  
  .blue {
    background-color: #2e6aea;
    color: #ffffff;
  }
  
  .btn {
    border: 2px solid rgb(29, 105, 247);
  }
  
  .btn-white {
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
  
  .btn-blue {
    border: 2.4px solid #ffffff;
    color: #ffffff;
  }
  
  @media (max-width: 700px) {
    .about-img {
      margin-left: 20px;
      right: 0px;
      top: 30px;
    }
  }
  
  .progress {
    border-radius: 10px;
  }
  
  .progress .progress-bar {
    width: 0px;
    border-radius: 10px;
    transition: 2s;
  }
  
  .ex-me {
    margin-top: 35px;
  }
  
  
  .service-h4 {
    padding-bottom: 30px;
  }
  
  .service-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
  }
  
  .service-box {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .service-box:hover {
    box-shadow: 0px 1px 15px rgba(27, 27, 27, 0.705);
  
  }
  
  .portfolio-item .portfolio-btn {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    opacity: 0;
    transition: .5s;
  }
  
  .portfolio-item:hover .portfolio-btn {
    opacity: 1;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
  }
  
  
  .testimonial-carousel .text-center {
    background-color: #eaecf0d0;
    border-radius: 20px;
    margin: 20px;
  
  }
  
  .testimonial-carousel .text-center h4 {
    box-shadow: thistle;
  }
  
  .testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  .testimonial-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
  }
  
  .testimonial-carousel .owl-dot.active {
    background: #0BCEAF;
  }
  
  .contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    width: 30px;
    text-align: center;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
  }
  
  @keyframes action {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-15px);
    }
  }
  
  .logo1 {
    max-width: 150px;
    margin-bottom: 0;
    left: -30px;
  }